/*
Site Name: Nettuts+
Site URI: http://net.tutsplus.com/
Description: Twitter API Widget Tutorial Demo - Multiple Tweets v1
Version: 1.0
Author: Janet Wagner
Author URI:  http://www.WebCodePro.net/
*/


/*  Color Reference
---------------------------------------------------
Blue: #2a88b3
Light Gray: #f2f2f2
Border: 1px solid #d8d8d8
*/


/*  Default Styles
--------------------------------------------------- */

body {
	margin: 10px;
	padding: 0px;
	background-color: #f2f2f2;
	font-size: 14px; 
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

#wrapper	{
	width: 965px;
	margin: 0 auto;	
}

a:link, a:visited, a:active {
	color: #2a88b3;
}

a:hover {
	color: #000;
}

ul {
	list-style: square; 
	float: left;
	margin: 10px;
	width: 400px;
}

li	{
	padding: 5px;
}

#content .twitterfeed	{	
	float: left;
	background-color: #fff;
	width: 385px;
	margin: 10px 0px 30px 10px;
	border: 1px solid #d8d8d8; 
	padding: 5px 5px 15px 5px;
}

#content img	{
	margin: 5px 0px 0px 10px;
}

#content h3	{
	float: right;
	color: #000;
	background-color: #f2f2f2;
	font-size: 18px;
	font-weight: bold;
	width: 235px;
	padding: 10px 5px 10px 10px;
	margin: 10px 10px 25px 0px;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #d8d8d8; 
}

#content h3 a {
	text-decoration: none;
}

#content hr	{
    width: 90%;
    height: 1px;
    background: #dfdfdf;
    display: block;
    border: none;
	margin: 20px 0px 20px 18px;
}

#tweet	{
	float: none;
	clear: both;
}

#tweet p {
	margin: 15px 15px 0px 15px;
}

#tweet .profile_icon {
	float: left;
	margin: 0px 10px 10px 0px;
}

#web_intent	{	
	float: none;
	clear: both;
	margin: 10px 0px 0px 15px;
}

#web_intent	a:link, #web_intent	a:visited, #web_intent a:active {
	margin: 0px 10px 0px 0px;
}

#web_intent img {
	margin: 0px 3px 0px 0px;
	position: relative;
	top: 2px;
}

#web_intent .time {
	margin: 0px 10px 0px 0px;
}